.carousel .carousel-item {
  width: 100%;
}

#tabs-swipe .tab a {
  color: #37474f;
}

#tabs-swipe .tab a:hover {
  color: #455a64;
}

#tabs-swipe .tab a:focus.active {
  color: #455a64;
  background-color: #bdbdbd
}

#tabs-swipe .indicator {
  background-color: #455a64;
}

#tabs-tables .tab a {
  border: gainsboro 1px solid;
  color: rgba(29, 34, 33, 0.7);
}

#tabs-tables .tab a:hover {
  color: black;
}

#tabs-tables .tab a:focus.active {
  color: black;
  background-color: white;
}

#tabs-tables .indicator {
  background-color: slategrey;
}