<div style="padding-top: 1em;">
  <div class="center-align" style="padding-bottom: 1em;">
    <a id="btnGetTra" class="waves-effect waves-light btn-small blue"
      ><i class="material-icons right">import_export</i>Obtener traducci贸n</a
    >
    <a
      id="btnDownloadTranslate"
      class="waves-effect waves-light btn-small brown lighten-2"
      ><i class="material-icons right">file_download</i>Descargar C3D</a
    >
    <a
      id="btnOptimization"
      class="waves-effect waves-light btn-small blue-grey lighten-1"
      ><i class="material-icons right">build</i>Optimizar</a
    >
    <a class="waves-effect waves-light btn-small"
      ><i class="material-icons right">play_arrow</i>Ejecutar</a
    >
    <a id="btnClearRun" class="waves-effect waves-light btn-small red lighten-2"
      ><i class="material-icons right">clear</i>Limpiar Ejecuci贸n</a
    >
  </div>
  <div class="row">
    <div class="col s7">
      <textarea name="editor-cd3" id="editor-cd3"></textarea>
    </div>
    <div class="col s5">
      <div class="row">
        <div class="col s6">
          <h5 class="center-align"><strong>STACK</strong></h5>
          <div class="divider"></div>
          <div style="height: 400px; overflow-y: scroll;"></div>
        </div>
        <div class="col s6">
          <h5 class="center-align"><strong>HEAP</strong></h5>
          <div class="divider"></div>
          <div style="height: 400px; overflow-y: scroll;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="padding-top: 1em; padding-bottom: 2em;">
  <ul id="tabs-tables" class="tabs">
    <li class="tab col s3">
      <a class="active" href="#div-console">Consola</a>
    </li>
    <li class="tab col s3">
      <a href="#report-opt">Reporte de optimizaci贸n</a>
    </li>
    <li class="tab col s3">
      <a href="#graph-blocks">Bloques</a>
    </li>
  </ul>
  <div id="div-console" class="col s12">
    <textarea name="console" id="console"></textarea>
  </div>
  <div id="report-opt" class="col s12">
    <table class="highlight">
      <thead>
        <tr>
          <th>Regla</th>
          <th>Nodos</th>
          <th>Optimizaci贸n</th>
          <th>Linea</th>
          <th>Columna</th>
        </tr>
      </thead>
      <tbody id="body-report-op"></tbody>
    </table>
  </div>
  <div id="graph-blocks" class="col s12"></div>
</div>
