<nav>
  <div class="nav-wrapper blue-grey darken-3">
    <a href="/" class="brand-logo" style="padding-left: 1em;"
      ><i class="material-icons">code</i>Compi Studio</a
    >
    <ul class="right hide-on-med-and-down">
      <li>
        <a
          class="tooltipped"
          data-position="bottom"
          data-tooltip="Inicio"
          href="/"
        >
          <i class="material-icons">home</i>
        </a>
      </li>
      <li>
        <a
          class="tooltipped"
          data-position="bottom"
          data-tooltip="Subir proyecto"
          href="#"
        >
          <i class="material-icons">file_upload</i>
        </a>
      </li>
      <li>
        <a
          class="tooltipped"
          data-position="bottom"
          data-tooltip="Descargar proyecto"
          href="#"
        >
          <i class="material-icons">file_download</i>
        </a>
      </li>
      <li>
        <a
          class="tooltipped"
          data-position="bottom"
          data-tooltip="Limpiar proyecto"
          href="#"
          ><i class="material-icons">clear</i>
        </a>
      </li>
      <li>
        <a
          class="tooltipped"
          data-position="bottom"
          data-tooltip="Manual de gramática"
          href="#"
          ><i class="material-icons">help</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
